name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    with:
        node-version: '20.x'
    - run: npm install
    - run: npm run check
    - run: npm run dev

